<div class="container" style="max-width: 550px">
  <h2 class="text-center mb-5">Angular Login with Google</h2>
  <button type="button" (click)="loginWithGoogle()" class="btn btn-danger">
    Login with Google
  </button>

  <div class="row" *ngIf="isLoggedin === true">
    <div class="form-group">
      <label>Email</label>
      <input
        type="text"
        class="form-control"
        [value]="socialUser.email"
        id="email"
        readonly
      />
    </div>
  </div>
  <div class="row">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Summary</label>
        <input
          type="email"
          class="form-control"
          name="summary"
          placeholder="Summary"
          [(ngModel)]="event.summary"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Start Date</label>
        <input type="date" name="startDate" [(ngModel)]="event.startDate" class="form-control" />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">End Date</label>
        <input type="date" name="endDate" [(ngModel)]="event.endDate" class="form-control" />
      </div>
      <button type="button" (click)="create()" class="btn btn-primary">Create</button>
    </form>
  </div>
  <div class="row" style="margin-top: 100px">
    <br />
    <table class="table">
      <thead>
        <tr>
          <th>Index</th>
          <th scope="col">Summary</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of events">
          <td>{{ e.index }}</td>
          <td>{{ e.summary }}</td>
          <td>{{ e.startDate }}</td>
          <td>{{ e.endDate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
